body {
  display: flex;
  justify-content: center;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
}

button:active,
button:active,
button {
  outline: none;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.autocomplete {
  position: relative;
}

.autocomplete input {
  border: none;
  color: white;
  background: transparent;
  border-bottom: 1px solid #cbcbcb;
  width: 100%;
  font-size: 20px;
  transition: 0.4s;
}

.autocomplete h1 {
  margin-bottom: 40px;
}

.autocomplete input:focus {
  border: none;
  border-bottom: 1px solid #8b8b8b;
  outline: none;
}

.search-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-list .search-list__item {
  cursor: pointer;
  padding: 5px 0;
  background: transparent;
  transition: 0.4s;
}

.search-list .search-list__item:hover {
  background-color: rgb(53, 53, 53);
}

.info {
  margin-top: 20px;
  transition: 0.4s;
}

.info .info__block {
  border: 1px solid #cbcbcb;
  padding: 10px;
  margin: 9px 0;
  transition: 0.4s;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
}

.info .info__block .info__image {
  width: 100px;
  height: 100px;
}

.info .info__block .info__image img {
  max-width: 100%;
}

.info .info__block span {
  padding-left: 30px;
  margin: 10px 20px;
  display: block;
}

.info .info__block .close {
  height: 35px;
  width: 30px;
  background-image: url('../img/close.png');
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.4s;
  position: absolute;
  right: 10px;
  top: 10px;
}

.info .info__block .hidden {
  display: none;
}

.info .info__block .info__owner {
  background-image: url(../img/github.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: contain;
}

.info .info__block .info__repository {
  background-image: url(../img/rep.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: contain;
}

.info .info__block .info__stars {
  background-image: url(../img/star.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: contain;
}
